/* Malgrabber CSS Begin */

.getDataMal, .getDataMAL p, .getDataMAL div {
	line-height:2;
	overflow-wrap:break-word;
	word-wrap:break-word;
	word-break:break-word;
	hyphens:auto;
}

.getDataMAL p {
	margin:0;
	padding:0;
}

.getDataMAL .mal_content {
	background:#e1e7f5;
	display:flex;
}

.getDataMAL .mal_title {
	background:#1d439b;
	color:white;
	display:flex;
	height:42px;
	font-size:14px;
	margin-top:10px;
}

.getDataMAL .mal_title b {
	position:relative;
	top:25%;
}

.getDataMAL .mal_title_text {
	width:100%;
	padding:0 10px;
	line-height: 1.6;
}

.getDataMAL .mal_logo {
	position:relative;
	bottom:8px;
	height:50px;
	width:144px;
	margin-right:10px;
}

.getDataMAL .mal_logo img {
	border:0 !important;
}

.getDataMAL .mal_poster img {
	margin-bottom:10px;
	max-width:100%;
	min-width:100%;
	border:1px solid #e4e4e4;
}

.getDataMAL .mal_poster {
	margin-bottom:5px;
}

.getDataMAL .mal_info {
	background:#F6F6F6;
	border:1px solid #d8d7d7;
	height:100%;
	padding:10px;
	margin:10px 10px 10px 0px;
	width:350px;
}

.getDataMAL .mal_header {
	border-bottom:1px solid #b0b0b0;
	margin-bottom:5px;
	text-align:left !important;
}

.getDataMAL .mal_info .mal_header {
	border-color:#d0d0d0;
}

.getDataMAL .mal_subject {
	text-align:justify;
}

.getDataMAL .mal_subject_and_crew {
	margin:10px;
	width:100%;
}

.getDataMAL .mal_source {
	background:#d4e1ff;
	padding:1px 10px 1px 1px;
	border-bottom:1px solid #1d439b;
	width:100%;	
	font-size:11px;	
}

.getDataMAL .mal_voice_name, .getDataMAL .mal_staff_position {
	font-size:95%;
	color:#3f3f3f;
}

.getDataMAL .mal_list .mal_staff_position, .getDataMAL .mal_list .mal_voice_name, .getDataMAL .mal_list .mal_list_characters {
	margin-bottom:15px;
}

.getDataMAL .mal_list .mal_staff_position:last-child, .getDataMAL .mal_list .mal_voice_name:last-child, .getDataMAL .mal_list .mal_list_characters:last-child {
	margin-bottom:0;
}

.getDataMAL {
	width:100%;
	font-size:13px;
	color:#000;
}

.getDataMAL .mal_text p b {
	color:#444;
}

.getDataMAL .mal_title,
.getDataMAL div.mal_text,
.getDataMAL div.mal_text p,
.getDataMAL div.mal_title div.mal_title_text {
	text-align:left !important;
}

.getDataMAL .mal_source,
.getDataMAL .mal_subject_source {
	text-align:right !important;
}

.getDataMAL .mal_subject_source {
	display:flex;	
	float:right;
}

.getDataMAL .mal_subject_source_title {
	white-space:pre;
}

@media screen and ( max-width:1000px ) {
	.getDataMAL .mal_poster,
	.getDataMAL .mal_info,
	.getDataMAL .mal_logo {
		display:none;
	}
}

.loaderMAL [class^="mal"] {
	background:none;
	border:0;
}

.loaderMAL .mal_content, .loaderMAL .mal_source {
	display:none !important;
}

.mal_more_hide {
	display:none;
}

.mal_more_show {
	display:block;
}

.mal_more_click {
    background: -webkit-linear-gradient(rgba(125,185,232,0) 20%, rgb(239, 239, 239) 100%);
    background: -o-linear-gradient(rgba(125,185,232,0) 20%, rgb(239, 239, 239) 100%);
    background: linear-gradient(rgba(125,185,232,0) 20%, rgb(239, 239, 239) 100%);
    padding:3px 6px;
    height:200px;
    position:relative;
    margin-top:-200px;
    padding-top:175px;
    cursor:pointer;
}

.mal_more {
	height:200px;
	overflow:hidden;
}

/* Malgrabber CSS End */